# Web framework
fastapi
uvicorn
jinja2

# Database
psycopg2-binary

# Machine learning and clustering
numpy
scikit-learn
qdrant-client

# Computer vision
opencv-python-headless
mediapipe==0.10.9

# AdaFace face recognition
torch
torchvision
pillow
tqdm
pytorch_lightning

# Configuration
pyyaml
